<div class="about">
	<div class="tatle">
		<div class="left">
			<span class="span1"></span>
			<span class="span2"></span>
		</div>
		关于我们
		<div class="right">
			<img src="../images/right.jpg">
		</div>
	</div>
	<div class="main">
		<p>XXXXXX是一家策<img src="../images/peitu.jpg">划、平面设计、广告装饰工程、喷绘制作于一体的综合型广告服务商。公司本着"创意无限，精进不休"的经营理念，并致力于为广大客户提供广告策划、画册设计、平面设计、标志设计、包装设计、广告工程、装饰工程、大型广告喷绘等全方位的服务，客户商家之间建立了良好的业务伙伴关系。众多的客户为我们带来了在不同领域积极发挥的机会，也为我们累积了丰富的经验。　我们专业的制作、良好的信誉得到了社会及客户的一致赞誉。拥有一批对广告事业充满热枕和执着、对广告工作一丝不苟、懂经营、善管理、会营销、精服务的专业团队，以较强的经济实力一流的广告服务。</p>
	</div>
	<div class="top">
		<a href="javascript:;" id="Top">Top<img src="../images/top.jpg"></a>
	</div>
	<div ui-view></div>
</div>
