<div class='sth-admin' ng-controller="anli">
	<div class="release">
		<span>新闻列表</span>
		<input type="button" value="发布" ng-click="fabu()"/>
	</div>
	<div id="content">
		<input type="text" placeholder="新闻标题"/ style="margin-top: 1rem;">
		<input type="text" placeholder="新闻来源" />
		<input type="text" placeholder="发布时间" />
		<input type="text" placeholder="发布人" />
		<p>新闻内容:</p>
		<textarea ng-model="xinwen"></textarea>
	</div>
	<div class="releaseContent">
		<p>已有新闻</p>
		<ul class="ul">
			<li ng-repeat="a in quan">
				<p><span><img src="../images/Logo.png"></span><span>{{a.content}}<button ng-click="shan($index)" class="dian">删除</button></span></p>
				<p></p>
			</li>
		</ul>
	</div>
	<div class="footers">
		<ul>
			<li ui-sref="admin">新闻</li>
			<li ui-sref="manage">案例</li>
			<li ui-sref='words'>留言</li>
			<li ui-sref='home'>首页</li>
		</ul>
	</div>
	<div class="show">
		<p>详情</p>
		<p>删除</p>
		<p class="up">取消</p>
	</div>
	<div class="op">
	</div>
</div>
<script>
	$(document).ready(function() {
			$('.ul>li').click(function() {
				$('.show').css({ 'bottom': '0' })
				$('.show').css({ 'transition': '.5s' })
				$('.op').css({ 'transition': '.2s' })
				$('.op').css({ 'display': 'block' })
			})
			$('.up').click(function() {
				$('.show').css({ 'bottom': '-100%' })
				$('.show').css({ 'transition': '.5s' })
				$('.op').css({ 'transition': '.2s' })
				$('.op').css({ 'display': 'none' })

			})
			$.imageFileVisible({

				wrapSelector: "#image-wrap",
				fileSelector: "#file",
				width: 10 + 'rem',
				height: 5 + 'rem'
			});
			$('#file').click(function() {
				$('#image-wrap').html('')
			})
		});
</script>