<div class='sth-admin' ng-controller="anli">
	<div class="release">
		<span>新闻列表</span>
		<input type="button" value="发布" ng-click="fabu()"/>
	</div>
	<div id="content">
		<input type="text" placeholder="新闻标题"/ style="margin-top: 1rem;" ng-model="biaoti">
		<input type="text" placeholder="新闻来源"  ng-model="laiyuan"/>
		<input type="text" placeholder="发布时间"  ng-model="shijian"/>
		<input type="text" placeholder="发布人"  ng-model="laizi"/>
		<p>新闻内容:</p>
		<textarea ng-model="xinwen"></textarea>
	</div>
	<div class="releaseContent">
		<p>已有新闻</p>
		<ul class="ul">
			<li ng-repeat="a in quan">
				<p><span><img src="../images/Logo.png"></span><span>{{a.title}}<button ng-click="shan($index)" class="dian">删除</button></span></p>
				<p></p>
			</li>
		</ul>
	</div>
	<div class="footers">
		<ul>
			<li ui-sref="admin">新闻</li>
			<li ui-sref="manage">案例</li>
			<li ui-sref='words'>留言</li>
			<li ui-sref='home'>首页</li>
		</ul>
	</div>
	<div class="show">
		<p>详情</p>
		<p>删除</p>
		<p class="up">取消</p>
	</div>
	<div class="op">
	</div>
</div>