<div class="sth-home">
	<div class="sth-head">
		
	</div>
	<div class="sth-Carousel">
			<img src="../images/a (1).gif"/>
	</div>
	<div class="sth-function">
		<ul>
			<li ui-sref="list">
				<p>会员登录</p>
				<p><img src="../images/a (4).gif"/></p>
			</li>
			<li ui-sref="login">
				<p><img src="../images/a (2).gif"/></p>
				<p>会员注册</p>
			</li>
			<li ui-sref="anli">
				<p>精选案例</p>
				<p><img src="../images/a (3).gif"/></p>
			</li>
		</ul>
		<ul>
			<li ui-sref="news">
				<p>新闻资讯</p>
				<p><img src="../images/a (5).gif"/></p>
			</li>
			<li ui-sref="liuyan">
				<p>在线留言</p>
				<p><img src="../images/a (6).gif"/></p>
			</li>
		</ul>
	</div>
	<div class="sth-news">
		<ul>
			<li></li>
			<li>公司新闻</li>
			<li> 〉 </li>
		</ul>
	</div>
	<div class="sth-newsList">
		<ul>
			<li><img src="../images/a (1).gif"></li>
			<li>啊实打实的那家吗是的哈口水电话及哦啊苏丹红爱爱</li>
			<p>2017/06/18</p>
		</ul>
		<ul>
			<li><img src="../images/a (1).gif"></li>
			<li>啊实打实的那家吗是的哈口水电话及哦啊苏丹红爱爱</li>
			<p>2017/06/18</p>
		</ul>
		<ul>
			<li><img src="../images/a (1).gif"></li>
			<li>啊实打实的那家吗是的哈口水电话及哦啊苏丹红爱爱</li>
			<p>2017/06/18</p>
		</ul>
		<ul>
			<li><img src="../images/a (1).gif"></li>
			<li>啊实打实的那家吗是的哈口水电话及哦啊苏丹红爱爱</li>
			<p>2017/06/18</p>
		</ul>
	</div>
	<div class="sth-top">
		Top <span></span>
	</div>
</div>
