<div class="sxl-zhuce" ng-controller="login">
	<div class="sxl-biao">
			<img src="images/sxl-tui.png" ui-sref="list">
			会员注册
	</div>
	<p><input  type="text" placeholder="请输入用户名(必填)" style="margin-top: 0.75rem;border-bottom: none;" ng-model="username" id="yhm"/><b></b></p>
	<p><input  type="password" placeholder="请输入密码(必填)" style="border-bottom: none;" ng-model="password" id="pwd"><b></b></p>
	<p><input  type="text" placeholder="请输入姓名(必填)" style="border-bottom: none;" ng-model="name"/><b></b></p>
	<p><input  type="text" placeholder="请输入邮箱(必填)" style="border-bottom: none;" ng-model="email"  id="eml"><b></b></p>
	<p><input  type="text" placeholder="请输入手机号码(必填)" style="border-bottom: none;" ng-model="phone" id="phe"><b></b></p>
	<button class="an" ng-click="zhuce()" id="click">注册</button>
</div>
