<div class="sxl-zhuce"ng-controller="login">
	<div class="sxl-biao">
			<img src="../images/sxl-tui.png">
			会员注册
	</div>
	<input  type="text" placeholder="请输入账号(必填)" style="margin-top: 0.75rem;border-bottom: none;" ng-model="username"/>
	<input  type="password" placeholder="请输入密码(必填)" style="border-bottom: none;" ng-model="password"/>
	<input  type="text" placeholder="请输入姓名(必填)" style="border-bottom: none;" ng-model="name"/>
	<input  type="text" placeholder="请输入邮箱" style="border-bottom: none;" ng-model="email"/>
	<input  type="text" placeholder="请输入电话" style="border-bottom: none;"/ ng-model="phone">
	<input  type="text" placeholder="请输入留言"/ ng-model="liuyan">
	
	<button class="an" ng-click="zhuce()">注册</button>
	
	<ul class="sxl-ming">
		<li>账号</li>
		<li>密码</li>
		<li>姓名</li>
		<li>邮箱</li>
		<li>电话</li>
		<li>留言</li>
	</ul>
</div>
