<div class="lby_news">
	<div class="tatle">
		<div class="left">
			<span class="span1"></span>
			<span class="span2"></span>
		</div>
		新闻资讯
		<div class="right">
			<img src="../images/right.jpg">
		</div>
	</div>
	<ul>
		<li><span>品牌易经之品牌命名大学问</span><img src="../images/list1.jpg"></li>
		<li><span>户外广告招牌的设置及安装要求</span><img src="../images/list2.jpg"></li>
		<li><span>画册设计1p多少钱</span><img src="../images/list3.jpg"></li>
		<li><span>5米喷绘，喷绘的相关方法有哪些？</span><img src="../images/list4.jpg"></li>
		<li><span>中国企业如何做品牌推广？</span><img src="../images/list5.jpg"></li>
	</ul>
	<p>加载更多</p>
	<div class="top">
		<a href="javascript:;" id="Top">Top<img src="../images/top.jpg"></a>
	</div>
</div>
<script>
	function Top(){
			$('body').animate({scrollTop:0});
		}
		$("#Top").on({
			'touchstart':function(){
				Top();	
			}
		})
	
</script>