<div class="lby_news" ng-controller="jgr">
	<div class="tatle">
		<div class="left">
			<span class="span1"></span>
			<span class="span2"></span>
		</div>
		新闻资讯
		<div class="right">
			<img src="../images/right.jpg">
		</div>
	</div>
	<ul ng-repeat="w in quan">
		<li><span>{{w.content}}</span><img src="../images/list1.jpg"></li>
	</ul>
	<p>加载更多</p>
	<div class="top">
		<a href="javascript:;" id="Top">Top<img src="../images/top.jpg"></a>
	</div>
</div>
<script>
	function Top(){
			$('body').animate({scrollTop:0});
		}
		$("#Top").on({
			'touchstart':function(){
				Top();	
			}
		})
	
</script>