<div class="words" ng-controller="yan">
	<div class="release">
		<span>留言列表</span>
	</div>
	<div class="wordsList">
		<ul class="ul">
			<li ng-repeat="a in arr" style="padding: 3% 0;padding-bottom:7%;border-bottom: 0.05rem solid #CCCCCC;">
				<p style="color: #ce2122;font-size: .6rem;">{{a.name}}</p>
				{{a.content}}<a href="javascript:;" ng-click="shanchu($index)" style="float: right;color:#FFFFFF;width: 3rem;height: 1.3rem;line-height: 1.3rem;text-align: center;text-decoration: none;font-size: .6rem;background: #ce2122;border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;">删除</a></li>
		</ul>
	</div>
	<div class="footers">
		<ul>
			<li ui-sref="admin">新闻</li>
			<li ui-sref="manage">案例</li>
			<li ui-sref='words'>留言</li>
			<li ui-sref='home'>首页</li>
		</ul>
	</div>
	<div class="show">
		<p>详情</p>
		<p>删除</p>
		<p class="up">取消</p>
	</div>
	<div class="op">
	</div>
</div>